<input id="text" placeholder="text"/>
<input id="geometry" placeholder="geometry"/>
<input id="color" placeholder="color"/>
<input id="x" placeholder="x"/>
<input id="y" placeholder="y"/>
<input id="z" placeholder="z"/>
<button id="submit">submit</button>
<a-scene id="scene">
<!-- for each entity -->
  {{#each entity}}
  <a-entity
    geometry="primitive: {{this.geometry}}; width: 4; height: 4"
    material="color: {{this.color}}"
    position="{{this.x}} {{this.y}} {{this.z}}"
    text="value: {{this.text}}">
    <!-- <a-animation attribute="rotation"
               dur="6000"
               fill="forwards"
               to="360 360 360"
               repeat="indefinite"></a-animation> -->
  {{/each}}
</a-scene>
